<h1>Task Details.</h1>

Task Id : <input type="text" name="taskId" ng-model="taskId">
<table cellpadding="1" border="1" cellspacing="0" style="width: 100%;font-family: monospace;">
			<tr>
				<th>Task Id</th>
				<th>Status</th>
				<th>Name</th>
				<th>Description</th>
				<th>OpenDate</th>
				<th>ProjectName</th>
				<th>ClosedDate</th>
				<th>Wikipedia</th>
			</tr>
			<tr ng-repeat="val in data  | filter : taskId track by $index" >
				<td style="padding: 2px;">{{val.taskid}}</td>
				<td>{{val.status}}</td>
				<td>{{val.name}}</td>
				<td ><div>{{val.description}}</div></td>
				<td>{{val.openDate}}</td>
				<td>{{val.projectName}}</td>
				<td>{{val.closedDate}}</td>
				<td>{{val.wikipedia}}</td>
			</tr>
		</table>
<button>click here</button>		